@charset "UTF-8";
body {
  margin: 0;
  font-family: ' noto Sans JP, Roboto';
  line-height: 1.6;
}

ul p {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  background-color: #EBDFD5;
}

#header .header {
  width: 1000px;
  margin: 0 auto;
}

#header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav li {
  padding: 0 1.5em;
}

/*-------------------------------------------
メイン：トップページ
-------------------------------------------*/
.top {
  background-color: #EBDFD5;
  padding: 4em;
}

.top-area {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-area .top-title {
  font-size: 60px;
}

/*-------------------------------------------
メイン：共通
-------------------------------------------*/
.sec-title {
  text-align: center;
  color: #435B8C;
}

.sec-title .title {
  margin: 0;
}

.sec-title .sub {
  margin: 0;
}

.btn {
  background-color: #435B8C;
  width: 286px;
  height: 51px;
  border-radius: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 16px 100px;
  gap: 10px;
  margin: 0 auto;
}

.btn .line-btn {
  color: #fff;
}

/*-------------------------------------------
メイン：works
-------------------------------------------*/
.swiper-container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-container li {
  padding: 0 30px;
}

.swiper-container .swiper-slide {
  width: 312px;
}

/*-------------------------------------------
レスポンシブ
-------------------------------------------*/
/* タブレット-------------------------------------------*/
@media (max-width: 1000px) {
  #header {
    background-color: skyblue;
    padding: 0 0 0 1rem;
  }
  #header .header {
    width: 800px;
    margin: 0 auto;
  }
  /*-------------------------------------------
  タブレット：ハンバーガーメニュー作成
  -------------------------------------------*/
  #nav {
    position: absolute;
    top: -40%;
    right: -40%;
  }
  .hamburger-btn {
    top: 25px;
    width: 30px;
    height: 30px;
    right: 35px;
    position: fixed;
    cursor: pointer;
    z-index: 20;
  }
  span {
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
  }
  span:nth-child(1) {
    top: 4px;
  }
  span:nth-child(2) {
    top: 14px;
  }
  span:nth-child(3) {
    bottom: 4px;
  }
  .open .btn-line {
    background-color: #fff;
  }
  .open span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
            transform: translateY(10px) rotate(-315deg);
  }
  .open span:nth-child(2) {
    opacity: 0;
  }
  .open span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
            transform: translateY(-10px) rotate(315deg);
  }
  .open #hamburger-btn-area {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }
  .open #nav {
    width: 100%;
    top: 15em;
    left: 0;
    z-index: 5;
    font-size: 16px;
  }
  .open #nav a {
    color: #fff;
  }
  .open #nav ul {
    display: block;
    text-align: center;
  }
  .open #nav li {
    padding: 1em;
  }
  /*-------------------------------------------
  タブレット：トップページ
  -------------------------------------------*/
  .top-area .top-title {
    font-size: 40px;
  }
  .top-area .top-image img {
    width: 24em;
  }
}

/* モバイル-------------------------------------------*/
@media (max-width: 768px) {
  #header {
    background-color: pink;
  }
  /*-------------------------------------------
  モバイル：トップページ
  -------------------------------------------*/
  .top-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top-area .top-text-area {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .top-area .top-image img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */