body {
  margin: 0;
  font-family:  ' noto Sans JP, Roboto';
  line-height: 1.6;
}
ul p {
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  background-color: #EBDFD5;
  .header {
    width: 1000px;    
    margin: 0 auto;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
#nav {
  ul {
    display: flex;
  }
  li {
    padding: 0 1.5em;
  }
}

/*-------------------------------------------
メイン：トップページ
-------------------------------------------*/
.top {
  background-color: #EBDFD5;
  padding: 4em;
}
.top-area {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  .top-title {
    font-size: 60px;
  }
}
/*-------------------------------------------
メイン：共通
-------------------------------------------*/
.sec-title {
  text-align: center;
  color: #435B8C;
  .title {
    margin: 0;
  }
  .sub {
    margin: 0;
  }
}
.btn {
  background-color: #435B8C;
  width: 286px;
  height: 51px;
  border-radius: 160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 100px;
  gap: 10px;
  margin: 0 auto;
  .line-btn {
    color: #fff;
  
  }
}



/*-------------------------------------------
メイン：works
-------------------------------------------*/
// swiperエリア
.swiper-container {
  .swiper-wrapper {
    display: flex;
  }

 li {
    padding: 0 30px;
    
  }
  .swiper-slide {
    width: 312px;
    
  }
}





/*-------------------------------------------
レスポンシブ
-------------------------------------------*/
$tablet-size: 1000px;
$mobile-size: 768px;

@mixin tablet {
  @media (max-width: $tablet-size) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile-size) {
    @content;
  }
}

/* タブレット-------------------------------------------*/

@include tablet {
  #header {
    background-color: skyblue;
    padding: 0 0 0 1rem;
    .header {
      width: 800px;    
      margin: 0 auto;
    }
  }

  /*-------------------------------------------
  タブレット：ハンバーガーメニュー作成
  -------------------------------------------*/
  // navメニュー非表示設定
  #nav {
    position: absolute;
    top: -40%;
    right: -40%;
  }
  
  // 🍔メニュー 三本線設定
  .hamburger-btn {
    top: 25px;
    width: 30px;
    height: 30px;
    right: 35px;
    position: fixed;
    cursor: pointer;
    z-index: 20;
  }
  span {
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
  }
  span:nth-child(1) {
    top: 4px;
  }
  span:nth-child(2) {
    top: 14px;
  }
  span:nth-child(3) {
    bottom: 4px;
  }

  // 🍔メニュークリック時
  // 三本線をバツにする。
  .open {
    .btn-line {
        background-color: #fff;
    }
    span:nth-child(1) {
        transform: translateY(10px) rotate(-315deg); // rotate でななめに設定
    }
    span:nth-child(2) {
        opacity: 0;
    }
    span:nth-child(3) {
        transform: translateY(-10px) rotate(315deg); // rotate でななめに設定
    }

    // 🍔メニューを押下後、閉じることのできるクリックエリアを指定
    #hamburger-btn-area {
      transition: all 0.5s;
      background-color: #000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: block;
      position: fixed;
      opacity: 0.8;
      z-index: 2;
      cursor: pointer;
    }
    // 🍔を押下後、メニューを表示する。
    #nav {
      width: 100%;
      top: 15em;
      left: 0;
      z-index: 5;
      font-size: 16px;
      a {
        color: #fff;
      }
      ul {
        display: block;
        text-align: center;
      }
      li {
        padding: 1em;
      }
    }
  }
  /*-------------------------------------------
  タブレット：トップページ
  -------------------------------------------*/
  .top-area {
    .top-title {
      font-size: 40px;
    }
    .top-image img {
      width: 24em;
    }
  }
}

/* モバイル-------------------------------------------*/
@include mobile {
  #header {
    background-color: pink;
  }

  /*-------------------------------------------
  モバイル：トップページ
  -------------------------------------------*/
  .top-area {
    flex-direction: column-reverse;
    display: flex;
    .top-text-area {
      width: 100%;
      flex-direction: column;
      padding: 0;
    }
    .top-image img{
      width: 100%;
    }
  }
}



