@charset "UTF-8";
/*-------------------------------------------
Breakpoints
-------------------------------------------*/
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/**
 * Swiper 8.0.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: March 4, 2022
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color:#007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size:44px;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right;
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color:#fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color:#000;
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active, .swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active, .swiper-cube .swiper-slide-next, .swiper-cube .swiper-slide-next + .swiper-slide, .swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-slide-shadow-bottom, .swiper-cube .swiper-slide-shadow-left, .swiper-cube .swiper-slide-shadow-right, .swiper-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}

.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active, .swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-flip .swiper-slide-shadow-bottom, .swiper-flip .swiper-slide-shadow-left, .swiper-flip .swiper-slide-shadow-right, .swiper-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

body {
  line-height: 1.6;
  letter-spacing: 0.05em;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

/*-------------------------------------------
共通
-------------------------------------------*/
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 32px;
}

/* 共通　*/
.sec-title {
  text-align: center;
  color: #435B8C;
  padding: 2em;
  letter-spacing: 0.2em;
}
.sec-title .title {
  margin: 0;
  font-size: 48px;
}
.sec-title .sub {
  margin: 0;
}

.btn-area {
  text-align: center;
  padding: 3em 0 4em 0;
}
.btn-area .btn {
  border: 0px;
  background-color: #435B8C;
  width: 18em;
  height: 48px;
  border-radius: 160px;
}
.btn-area .btn .btn-text {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.contents {
  max-width: 1000px;
  margin: 0 auto;
}

/*-------------------------------------------
フロント
-------------------------------------------*/
/* front-page ヘッダー */
#header {
  background-color: #EBDFD5;
  padding: 1em 0;
  z-index: 5;
}
#header .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2em;
}
#header .header-title {
  padding-left: 2em;
  font-size: 32px;
  font-family: "Damion", cursive;
}
#header .header-static {
  position: static;
}
#header .header-fixed {
  position: fixed;
}

#nav ul {
  display: flex;
}
#nav li {
  padding: 0 1.5em;
}

/* front-page トップ */
.top {
  background-color: #EBDFD5;
  padding: 5em;
  height: 100%;
}

.top-area {
  display: flex;
  justify-content: center;
}

.top-text-area {
  width: 36em;
  line-height: 2;
}
.top-text-area .top-title {
  font-size: 40px;
  letter-spacing: 0.1em;
}
.top-text-area .top-text {
  font-size: 18px;
}
.top-text-area img {
  width: 35em;
}

/* front-page Works */
.swiper img {
  width: 100%;
}

.swiper-wrapper {
  text-align: center;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

/* front-page Services */
.services {
  background-color: #FBF8F6;
}

.service-card {
  background-color: #fff;
  display: flex;
  margin: 2em;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.service-card .service-img {
  text-align: center;
  padding: 3em;
}
.service-card img {
  width: 10em;
}

.service-text-area {
  padding: 2em 2em 2em 0;
}
.service-text-area .service-title {
  font-size: 28px;
}
.service-text-area .service-sub-title {
  color: rgba(51, 51, 51, 0.34);
  font-size: 20px;
}
.service-text-area .service-text {
  font-size: 20px;
}

/* front-page About */
.front-about .about-area {
  display: flex;
}
.front-about .about-img {
  padding: 0 2em;
}
.front-about .about-text {
  padding: 2em;
}

/* front-page footer */
footer {
  background-color: #435B8C;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 1em;
}
footer a {
  color: #fff;
}

/*-------------------------------------------
ページ
-------------------------------------------*/
/* page header */
.page-header {
  background-color: #FBF8F6;
  text-align: center;
  color: #435B8C;
  padding: 4em 0 4em 2em;
  letter-spacing: 0.2em;
  text-align: left;
}
.page-header .page-header-area {
  max-width: 1200px;
  margin: 0 auto;
}
.page-header .title {
  margin: 0;
  font-size: 48px;
}

.page-sec-title {
  color: #435B8C;
  letter-spacing: 0.2em;
  padding: 4em 0;
}
.page-sec-title .title {
  margin: 0;
  font-size: 48px;
}
.page-sec-title .sub {
  margin: 0;
}

/* page Service */
.page-service {
  max-width: 1000px;
  padding: 0 2em;
  margin: 0 auto;
}
.page-service .title {
  color: #435B8C;
  font-size: 24px;
}
.page-service .sub {
  color: #435B8C;
}
.page-service .service-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.page-service .page-service-card {
  padding: 10px;
}
.page-service .page-service-card .service-img {
  text-align: center;
}
.page-service .page-service-card img {
  width: 100%;
}
.page-service .page-service-card .text {
  font-size: 16px;
}

/* page Flow */
.page-sec-title .title {
  margin: 0;
  font-size: 48px;
}

.flow {
  display: flex;
  padding: 0 2em 6em 2em;
}
.flow .item {
  width: 32em;
  background-color: #F8F9FD;
  padding: 2em 1em;
}
.flow .item-title {
  text-align: center;
}
.flow h2 {
  padding-bottom: 0.7em;
  color: #435B8C;
}
.flow img {
  padding-bottom: 1em;
}
.flow .sign {
  width: 3em;
  padding: 8em 0;
  text-align: center;
  color: #435B8C;
}

/* page About */
.profile .about-area {
  display: flex;
  padding: 2em 2em 4em 2em;
}
.profile .about-area .sub {
  font-size: 32px;
  padding-bottom: 0.5em;
}
.profile .about-img {
  padding-right: 2em;
}
.profile .btn-area {
  text-align: left;
  padding: 0;
}
.profile .btn-area .btn {
  width: 28em;
}
.profile .btn-area .btn-text {
  font-size: 16px;
}
.profile .skil-icon {
  padding: 2em 0;
}

/* page Carrers */
.carrers {
  background-color: #FBF8F6;
}

.timeline {
  list-style: none;
  padding: 0 2em 4em 2em;
}

.timeline > li {
  margin-bottom: 60px;
}

@media (min-width: 710px) {
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }

  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 13px;
    font-size: 24px;
  }

  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding: 20px 0 2em 2em;
  }

  .timeline-content:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #EBDFD5;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}
/* page Vision */
.vision {
  max-width: 1000px;
  margin: 0 auto;
}
.vision .vision-area {
  padding: 4em;
  justify-content: center;
  display: flex;
}
.vision .vision-area .sub {
  font-size: 24px;
  padding: 1em 0;
  font-weight: bold;
}
.vision img {
  width: 18em;
}

/* page Contact */
.contact {
  background-color: #435B8C;
  text-align: center;
}
.contact .title {
  color: #fff;
}
.contact .text {
  color: #fff;
}
.contact .page-sec-title {
  padding: 4em;
}
.contact .btn-area {
  padding: 2em 0 0 0;
}
.contact .btn {
  background-color: #fff;
}
.contact .btn .btn-text {
  color: #435B8C;
}

/* page contact-form*/
.contact-form-area {
  display: flex;
  justify-content: center;
  padding: 4em 1em;
}
.contact-form-area .contact-img {
  padding: 4em 3em 0 0;
}
.contact-form-area img {
  width: 20em;
}

.contact-form {
  /* contactボタン */
}
.contact-form p {
  padding-bottom: 2em;
}
.contact-form .wpcf7-submit {
  width: 100%;
  background-color: #435B8C;
  color: #fff;
  border: #435B8C;
  padding: 1em 2em;
  border-radius: 50px;
  font-size: 1rem;
}
.contact-form .btn_contact7 {
  padding: 2em 0 0 0;
}

.wpcf7 input {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.4em 0;
  border: 1px solid #cfd8dc;
}
.wpcf7 textarea {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.4em 0;
  border: 1px solid #cfd8dc;
}
.wpcf7 dt {
  padding: 1em 0 0.1em 0;
}
.wpcf7 .must {
  color: red;
  font-weight: bold;
  padding-left: 0.3em;
}

/*-------------------------------------------
archive
-------------------------------------------*/
/* archive */
/* archive Works */
.card-list-area {
  display: flex;
}

.card-contents {
  padding: 4em 2em;
  text-align: center;
}
.card-contents .card-list-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
.card-contents .card {
  color: #fff;
  padding: 2em 0;
}

/* ページネーション(検索ページの次へや前へ) */
/* pagination */
.pagination {
  margin-bottom: 30px;
}

/* リンクの枠 */
.pagination .nav-links {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px;
}

/* 数字のリンク */
.pagination .nav-links .page-numbers {
  text-decoration: none;
  color: #333;
  border: 1px solid #aaa;
  display: inline-block;
  border-radius: 6px;
  padding: 0.5em 0.8em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* 現在のページ */
.pagination .nav-links .current {
  background-color: #435B8C;
  color: #fff;
}

/* 現在のページとドット以外にホバーした時 */
.pagination .nav-links a:hover {
  background-color: #435B8C;
  color: #fff;
}

/*-------------------------------------------
single
-------------------------------------------*/
/* Work */
.single .pagination {
  margin: 0 auto;
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
}
.single .portfolio-link {
  color: blue;
}
.single h1 {
  font-size: 2rem;
  padding: 1em 0 0.5em 0;
}
.single .portfolio-img {
  padding: 2em;
  background-color: #EBDFD5;
  border-radius: 30px;
  width: 90%;
  height: auto;
}
.single .post-text {
  padding: 2em 0;
}
.single .portfolio-text {
  padding: 0 4em;
}

/*-------------------------------------------
PC(1025)
-------------------------------------------*/
@media screen and (max-width: 1025px) {
  .top {
    padding: 2em;
    height: 100%;
  }

  .top-area {
    padding: 0 2em;
  }
  .top-area .top-title {
    font-size: 32px;
  }
  .top-area img {
    width: 24em;
  }
}
/*-------------------------------------------
タブレット
-------------------------------------------*/
@media screen and (max-width: 768px) {
  /* 共通 */
  #header {
    width: 100%;
    z-index: 5;
    position: fixed;
  }
  #header .header-title {
    padding-left: 0.5em;
    font-size: 32px;
  }
  #header .header-fixed {
    position: fixed;
  }

  .top {
    padding: 8em 1em 4em 1em;
  }

  .sec-title .title {
    font-size: 32px;
  }
  .sec-title .sub {
    font-size: 16px;
  }

  .page-sec-title .title {
    font-size: 32px;
    margin: 0;
  }
  .page-sec-title .sub {
    font-size: 16px;
    margin: 0;
  }

  .page-header .title {
    margin: 0;
    font-size: 32px;
  }
  .page-header .sub {
    font-size: 16px;
  }

  /* ハンバーガーメニュー作成 */
  /* navメニュー非表示設定 */
  #nav {
    position: absolute;
    top: -40%;
    right: -40%;
  }

  /* 🍔メニュー 三本線設定 */
  .hamburger-btn {
    top: 25px;
    width: 30px;
    height: 30px;
    right: 35px;
    position: fixed;
    cursor: pointer;
    z-index: 20;
  }
  .hamburger-btn span {
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
  }
  .hamburger-btn span:nth-child(1) {
    top: 4px;
  }
  .hamburger-btn span:nth-child(2) {
    top: 14px;
  }
  .hamburger-btn span:nth-child(3) {
    bottom: 4px;
  }

  /* 🍔メニュークリック時 三本線をバツにする */
  .open {
    /* 🍔メニューを押下後、閉じることのできるクリックエリアを指定 */
    /* 🍔を押下後、メニューを表示する */
  }
  .open .btn-line {
    background-color: #fff;
  }
  .open span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .open span:nth-child(2) {
    opacity: 0;
  }
  .open span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  .open #hamburger-btn-area {
    transition: all 0.5s;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }
  .open #nav {
    width: 100%;
    top: 2.4em;
    left: 0;
    z-index: 5;
    font-size: 24px;
  }
  .open #nav a {
    color: #fff;
  }
  .open #nav ul {
    display: block;
    text-align: center;
  }
  .open #nav li {
    padding: 1em;
  }

  /* フロント top */
  .top-area {
    flex-direction: column-reverse;
  }
  .top-area .top-text-area {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .top-area .top-title {
    padding-top: 1em;
  }
  .top-area .top-text {
    font-size: 16px;
  }
  .top-area .top-image img {
    width: 100%;
  }

  /* フロント Work */
  /* front-page Works */
  .swiper img {
    width: 80%;
  }

  /* フロント Service */
  .service-card {
    display: block;
  }
  .service-card .service-img {
    padding: 3em 2em 0 2em;
  }
  .service-card .service-img img {
    width: 50%;
  }

  .service-text-area {
    padding: 2em;
  }
  .service-text-area .service-text {
    font-size: 16px;
  }

  /* フロント About */
  .front-about .about-area {
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
    padding: 1px;
  }
  .front-about .about-img {
    margin: 0 auto;
  }

  /* page header */
  .page-header {
    padding: 7em 0 2em 2em;
  }

  /* Page：About profile*/
  .profile .about-img {
    text-align: center;
    padding-right: 0;
    padding-bottom: 1em;
  }
  .profile .about-area {
    display: block;
  }
  .profile .about-area .btn {
    width: 28em;
  }
  .profile .about-area .btn-text {
    font-size: 16px;
  }
  .profile .btn-area {
    text-align: center;
  }

  /* page-about carrer*/
  .carrers .timeline {
    padding: 0 2em 2em 2em;
  }

  /* page-about vision*/
  .vision .vision-area {
    padding: 2em 2em 4em 2em;
    flex-direction: column-reverse;
  }
  .vision .vision-area .vision-img {
    text-align: center;
  }

  .contact .page-sec-title {
    padding: 2em;
  }

  /* page Service */
  .page-service .service-sub-title {
    color: rgba(51, 51, 51, 0.34);
  }
  .page-service .service-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .page-service .page-service-card {
    padding: 2em 0;
  }
  .page-service .page-service-card img {
    width: 70%;
  }

  /* page Service flow*/
  /* page Flow */
  .flow {
    display: block;
    justify-content: center;
  }
  .flow .item {
    margin-bottom: 16px;
    width: 100%;
    background-color: #F8F9FD;
    box-sizing: border-box;
  }
  .flow .item .item-title {
    text-align: center;
  }
  .flow .item h2 {
    padding-bottom: 0.7em;
    color: #435B8C;
  }
  .flow .item img {
    padding-bottom: 1em;
  }

  .sign {
    display: none;
  }

  /* page contact-form*/
  .contact-form-area {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 4em 0 2em 0;
  }
  .contact-form-area .contact-img {
    padding: 0 0 1em 0;
    text-align: center;
  }
  .contact-form-area img {
    width: 16em;
  }

  .contact-form {
    width: 100%;
    /* ボタン */
  }
  .contact-form p {
    padding-bottom: 1em;
  }
  .contact-form .btn_contact7 {
    text-align: left;
  }

  /* archive Works */
  .works .card-list-area {
    max-width: 750px;
    grid-template-columns: repeat(1, auto);
  }

  /* single work */
  .single .pagination {
    padding: 2em;
  }
  .single .portfolio-text {
    padding: 0 2em;
  }
}
/*-------------------------------------------
モバイル
-------------------------------------------*/
@media screen and (max-width: 480px) {
  /* 共通 */
  .page-sec-title {
    padding: 2em 0;
  }

  .btn-area .btn {
    width: 80%;
  }
  .btn-area .btn-text {
    font-size: 8em;
  }

  #header {
    font-size: 12px;
    position: fixed;
  }
  #header .header-nav {
    padding-right: 0;
    justify-content: start;
  }

  .hamburger-btn {
    top: 18px;
    right: 24px;
  }

  .top {
    padding: 8em 1em 2em 1em;
  }

  .top-area {
    padding: 0;
  }
  .top-area .top-title {
    font-size: 32px;
    padding: 1em 0;
  }

  /* front-page Works */
  #second-area {
    padding: 4em;
  }

  /* フロント service */
  .services .wrapper {
    padding: 0;
  }

  .service-card {
    display: block;
    margin: 2em;
  }
  .service-card .service-img img {
    width: 80%;
  }

  .service-text-area {
    padding: 1em;
  }
  .service-text-area .service-text {
    font-size: 16px;
  }

  /* フロント about */
  .front-about .wrapper {
    padding: 0;
  }
  .front-about .about-img {
    padding: 0;
  }
  .front-about .about-text {
    padding: 2em 1em 0 1em;
  }

  /* page header */
  .page-header {
    padding: 6em 0 2em 2em;
  }

  /* Page-About profile*/
  .profile .about-area {
    display: block;
    padding: 0;
  }
  .profile .about-area img {
    width: 100%;
  }
  .profile .about-img img {
    width: 16em;
  }
  .profile .btn-area {
    padding-bottom: 3em;
  }
  .profile .btn-area .btn {
    width: 100%;
  }
  .profile .btn-text {
    font-size: 12px;
  }

  /* Page-About carrers*/
  .carrers .page-sec-title {
    padding: 2em 1em;
  }
  .carrers .timeline {
    padding: 0 1em 1em 1em;
  }

  /* page-about vision*/
  .vision .vision-area {
    padding: 0 0 4em 0;
  }
  .vision img {
    width: 16em;
  }

  /* page service */
  .page-service .title {
    font-size: 20px;
  }

  /* page flow */
  .page-flow {
    padding: 0 2em 2em 2em;
  }

  .flow {
    padding: 0;
  }

  /* archive Works */
  .archive {
    padding: 2em 0;
  }

  .works .card-contents {
    padding: 0;
  }
  .works .card {
    padding: 1em 0 0 0;
  }
  .works .card-list-area {
    max-width: 750px;
    grid-template-columns: repeat(1, auto);
  }
  .works img {
    width: 80%;
    height: 80%;
  }

  /* page contact-form*/
  .contact-form-area img {
    width: 14em;
  }

  .contact-form .btn_contact7 {
    padding: 2em 0 4em 0;
  }

  /* single work */
  .single .pagination {
    padding: 0;
  }
  .single h1 {
    font-size: 1.8em;
    padding: 0.5em 0 0.2em 0;
  }
  .single .portfolio-img {
    padding: 1em;
    width: 90%;
    height: auto;
    border-radius: 10px;
  }
  .single .portfolio-text {
    padding: 0;
  }

  .contact .page-sec-title {
    padding: 2em 0 1em 0;
  }
  .contact .text {
    padding: 1em 1em 0 1em;
    font-size: 14px;
  }
}
/*-------------------------------------------
スモールモバイル
-------------------------------------------*/
@media screen and (max-width: 320px) {
  /* front-page About */
  .front-about .about-img {
    text-align: center;
  }
  .front-about img {
    width: 80%;
  }

  /* front-page Works */
  #second-area {
    padding: 4em;
  }
  #second-area ul {
    padding: 0;
  }

  /* Page：About profile*/
  .profile .about-area .btn-text {
    font-size: 14px;
  }
  .profile .about-img img {
    width: 12em;
  }

  /* Page：About vision */
  .vision img {
    width: 12em;
  }

  /* page contact-form*/
  .contact-form-area {
    /* contactボタン */
  }
  .contact-form-area img {
    width: 12em;
  }
  .contact-form-area .wpcf7-submit {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
