@use 'mixin' as m;
@use 'variable' as v;
@use 'reset';
@use "swiper-bundle.min";



body {
  line-height: 1.6;
  // font-family: 'Kosugi Maru', sans-serif, 'Roboto', sans-serif;
  font-family:  '游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}

/*-------------------------------------------
共通
-------------------------------------------*/
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
/* 共通　*/
.sec-title {
  text-align: center;
  color: #435B8C;
  padding: 2em;
  letter-spacing: 0.2em;
  .title {
    margin: 0;
    font-size: 48px;
  }
  .sub {
    margin: 0;
  }
}
.btn-area {
  text-align: center;
  padding: 2em 0 4em 0;
  .btn {
    border: 0px;
    background-color: #435B8C;
    width: 18em;
    height: 48px;
    border-radius: 160px;
    .btn-text {
      color: #fff;
      font-size: 16px;
      text-align: center;
    }
  }
}
.contents {
  max-width: 1000px;
  margin: 0 auto;
}

/*-------------------------------------------
フロント
-------------------------------------------*/
/* front-page ヘッダー */
#header {
  background-color: v.$main-color;
  padding: 1em 0;
  z-index: 5;
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2em;
  }
  .header-title {
    padding-left: 2em;
    font-size: 32px;
    font-family: 'Damion', cursive;
  }
  .header-static {
    position: static;
  }
  .header-fixed {
    position: fixed;
  }
}
#nav {
  ul {
    display: flex;
  }
  li {
    padding: 0 1.5em;
  }
}

/* front-page トップ */
.top {
  background-color: #EBDFD5;
  padding: 5em;
  height: 100%;
}
.top-area {
  display: flex;
  justify-content: center;
}
.top-text-area {
  // padding: 1em 2em 0 0;
  width: 36em;
  line-height: 2;
  .top-title {
    font-size: 40px;
    letter-spacing: 0.1em;
  }
  .top-text {
    font-size: 18px;
  }
  img {
    width: 35em;
  }
}

/* front-page Works */
.swiper {
  max-width: 50em;
  img {
    width: 20em;
  }
  ul {
    padding: 2em;
  }
}


/* front-page Services */
.services {
  background-color: #FBF8F6;
}
.service-card {
  background-color: #fff;
  display: flex;
  margin: 2em;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px gray;
  border: solid #e3dfde;
  .service-img {
    text-align: center;
    padding: 3em;
  }
  img {
    width: 10em;
  }
}
.service-text-area {
  padding: 2em 2em 2em 0;
  .service-title {
    font-size: 28px;
  }
  .service-sub-title {
    color: rgba(51, 51, 51, 0.34);
    font-size: 20px;
  }
  .service-text {
    font-size: 20px;
  }
}

/* front-page About */
.front-about {
  .about-area {
    display: flex;
  }
  .about-img {
    padding: 0 2em;
  }
  .about-text {
    padding: 2em;
  }
}

/* front-page footer */
footer {
  background-color: #435B8C;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 1em;
}


/*-------------------------------------------
ページ
-------------------------------------------*/
/* page header */
.page-header {
  background-color: #FBF8F6;
  text-align: center;
  color: #435B8C;
  padding: 4em 0 4em 2em;
  letter-spacing: 0.2em;
  text-align: left;
  .page-header-area {
    max-width: 1200px;
    margin: 0 auto;
  }
    .title {
      margin: 0;
      font-size: 48px;
    }
  }

.page-sec-title {
  color: #435B8C;
  letter-spacing: 0.2em;
  padding: 4em 0;
  .title {
    margin: 0;
    font-size: 48px;
  }
  .sub {
    margin: 0;
  }
}

/* page Service */
.page-service {
  max-width: 1000px;
  padding: 2em;
  margin: 0 auto;
  .page-sec-title .title {
    font-size: 48px;
}
  .title-area {
    padding: 2em;
  }
  .title {
    color: v.$point-color;
    font-size: 24px;
  }
  .sub {
    color: v.$point-color;
  }
  // グリッド
  .service-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
  }
  .page-service-card {
    padding: 10px;
    .service-img {
      text-align: center;
    }
    img {
      width: 100%;
    }
    .text {
      font-size: 16px;
    }
  }
}


/* page Flow */
.page-sec-title .title {
    margin: 0;
    font-size: 48px;
}
.flow {
  display: flex;
  padding: 0 2em 6em 2em;
  .item {
    width: 32em;
    background-color: #F8F9FD;
    padding: 2em 1em;
  }
  .item-title {
    text-align: center;
  }
  h2 {
    padding-bottom: 0.7em;
    color: v.$point-color;
  }
  img {
    padding-bottom: 1em;
  }
  .sign {
    width: 3em;
    padding: 8em 0;
    text-align: center;
    color: v.$point-color;
  }
}

/* page About */
.profile {
  .about-area {
    display: flex;
    padding: 2em 2em 4em 2em;
    .sub {
      font-size: 32px;
      padding-bottom: 0.5em;
    }

  } 
  .about-img {
    padding-right: 2em;
  }
  .btn-area {
    text-align: left;
    padding: 0;
    .btn {
      width: 28em;
    }
    .btn-text {
      font-size: 16px;
    }
  }
  .skil-icon {
    padding: 2em 0;
  }
}

/* page Carrers */
.carrers {
  background-color: v.$back-color;
}
.timeline {
  list-style: none;
  padding: 0 2em 4em 2em; 
}
.timeline > li {
  margin-bottom: 60px;
}

@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
    font-size: 24px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    // padding-left: 30px;
    padding: 20px 0 2em 2em;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: v.$main-color;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}

/* page Vision */
.vision {
  max-width: 1000px;
  margin: 0 auto;
  .vision-area {
    padding: 4em;
    justify-content: center;
    display: flex;
     .sub {
      font-size: 24px;
      padding: 1em 0;
      font-weight: bold;
     }
  }
  img {
      width: 18em;
  }
}

/* page Contact */
.contact {
  background-color: #435B8C;
  text-align: center;
  .title {
    color: #fff;
  }
  .text {
    color: #fff;
  }
  .page-sec-title {
    padding: 4em;
  }
  .btn-area {
    padding: 2em 0 0 0;
  }
  .btn {
    background-color: #fff;
    .btn-text {
      color: #435B8C;
    }
  }
}


/* page contact-form*/
.contact-form-area {
    display: flex;
    justify-content: center;
    padding: 4em 1em;
  .contact-img {
    padding: 4em 3em 0 0;
  }
  img {
    width: 20em;
  }
}
.contact-form {
  p {
    padding-bottom: 2em;
  }
  /* contactボタン */
  .wpcf7-submit {
    width: 100%;
    background-color: v.$point-color;
    color: #fff;
    border: v.$point-color;
    padding: 0.5em 0;
    border-radius: 50px;
  }
}

/* Contact Form7 */
.contact7 {
	max-width: 100%;
	box-sizing: border-box;
  input {
    padding: 0.5em 0;
   }
}
.contact7 dd {
	margin: 0 0 1em 0;
}
.contact7 dt {
	font-weight: normal;
}

.contact7 .must,
.contact7 .optional {
	color: red;
	padding: 5px;
}
.btn_contact7 {
	text-align: center;
  font-size: 14px;
}
.btn_contact7 input {
	// width: 70%;
	background-color: #005513;
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.2em;
	border: 1px solid #005513;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;	
}
.btn_contact7 input:hover {
	background-color: #FFF;
	color: v.$point-color;; 
}
@media screen and (min-width: 768px) {
  .contact7 dt {
    clear: left;
    padding: 5px 10px 5px 0;
    }

  .btn_contact7 input {
    width: 50%;
    background-color: #005513;
    color: #FFF;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.2em;
    border: 1px solid #005513;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;	
  }
  .btn_contact7 input:hover {
    background-color: #FFF;
    color: v.$point-color;; 
  }
}




/*-------------------------------------------
archive
-------------------------------------------*/
/* archive */
/* archive Works */
.card-list-area {
  display: flex;
}
// グリッド
.card-contents {
  padding: 4em 2em;
  text-align: center;
  .card-list-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    // grid-template-rows: repeat(1, 400px);
    gap: 2em;
  }
  .card {
    // width: 100%;
    color: #fff;
    padding: 2em 0;
  }
}

  /* ページネーション(検索ページの次へや前へ) */
  /* pagination */
  .pagination {
    margin-bottom: 30px;
  }

  /* リンクの枠 */
  .pagination .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 8px;
  }

  /* 数字のリンク */
  .pagination .nav-links .page-numbers {
    text-decoration: none;
    color: #333;
    border: 1px solid #aaa;
    display: inline-block;
    border-radius: 6px;
    padding: 0.5em 0.8em;
    -webkit-transition: .3s;
    transition: .3s;
  }

  /* 現在のページ */
  .pagination .nav-links .current {
    background-color: v.$point-color;
    color: #fff;
  }

  /* 現在のページとドット以外にホバーした時 */
  .pagination .nav-links a:hover {
    background-color: v.$point-color;
    color: #fff;
  }

/*-------------------------------------------
single
-------------------------------------------*/
/* Work */
.single {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
  .post-thumbnail-image {
    margin: 0 auto;
    border: 3em solid v.$main-color;
    border-radius: 3em;
    height: 30em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .wp-block-image img {
    width: 90%;
    height: 90%;
    background-color: v.$main-color;
    padding: 2em;
    border-radius: 3em;
  }

  .pagination {
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
}


/*-------------------------------------------
PC(1025)
-------------------------------------------*/
@include m.mq(pc) {
  .top {
    padding: 2em;
    height: 100%;
  }
  .top-area {
    padding: 0 2em;
    .top-title {
      font-size: 32px;
    }
    img {
      width: 24em;
    }
  }

  .page-sec-title {
    padding: 4em 8em;
  }
}

/*-------------------------------------------
タブレット
-------------------------------------------*/
@include m.mq(tablet) {
  /* 共通 */
  #header {
    width: 100%;
    z-index: 5;
    position: fixed;
    .header-title {
      padding-left: 0.5em;
    }
  
  .header-fixed {
    position: fixed;
  }
  }
  .top {
    padding: 8em 1em 4em 1em;
  }
  .sec-title {
    .title {
      font-size: 32px;
    }
    .sub {
      font-size: 16px;
    }
  }
  .page-sec-title {
    padding: 2em;
    .title {
      font-size: 32px;
      margin: 0;
    }
    .sub {
      font-size: 16px;
      margin: 0;
    }
  }
  .page-header {
    .title {
      margin: 0;
      font-size: 32px;
    }
    .sub {
      font-size: 16px;
    }
  }

  /* ハンバーガーメニュー作成 */
  /* navメニュー非表示設定 */
  #nav {
    position: absolute;
    top: -40%;
    right: -40%;
  }

  /* 🍔メニュー 三本線設定 */
  .hamburger-btn {
    top: 25px;
    width: 30px;
    height: 30px;
    right: 35px;
    position: fixed;
    cursor: pointer;
    z-index: 20;
    span {
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #333;
    }
    span:nth-child(1) {
      top: 4px;
    }
    span:nth-child(2) {
      top: 14px;
    }
    span:nth-child(3) {
      bottom: 4px;
    }
  }


  /* 🍔メニュークリック時 三本線をバツにする */
  .open {
    .btn-line {
        background-color: #fff;
    }
    span:nth-child(1) {
        transform: translateY(10px) rotate(-315deg); // rotate でななめに設定
    }
    span:nth-child(2) {
        opacity: 0;
    }
    span:nth-child(3) {
        transform: translateY(-10px) rotate(315deg); // rotate でななめに設定
    }

    /* 🍔メニューを押下後、閉じることのできるクリックエリアを指定 */
    #hamburger-btn-area {
      transition: all 0.5s;
      background-color: #000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: block;
      position: fixed;
      opacity: 0.8;
      z-index: 2;
      cursor: pointer;
    }
    /* 🍔を押下後、メニューを表示する */
    #nav {
      width: 100%;
      top: 5em;
      left: 0;
      z-index: 5;
      font-size: 24px;
      a {
        color: #fff;
      }
      ul {
        display: block;
        text-align: center;
      }
      li {
        padding: 1em;
      }
    }
  }

  /* フロント top */
  .top-area {
    // padding-top: 70px;
    flex-direction: column-reverse;
    .top-text-area {
      width: 100%;
      flex-direction: column;
      padding: 0;
    }
    .top-title {
      padding-top: 1em;
    }
    .top-text {
      font-size: 16px;
    }
    .top-image img{
      width: 100%;
    }
  }

  /* フロント Work */
  /* front-page Works */
  .swiper {
    max-width: 30em;
    img {
      width: 24em;
    }
  }

  /* フロント Service */
  .service-card {
    display: block;
    .service-img {
      padding: 3em 2em 0 2em;
      img {
        width:50%;
      }
    }
  }
  .service-text-area {
    padding: 2em;
    .service-text {
      font-size: 16px;
    }
  }
 
  /* フロント About */
  .front-about {
    .about-area {
      flex-direction: column-reverse;
      display: flex;
      justify-content: center;
      padding: 1px;
    }
    .about-img {
      margin: 0 auto;
    }
  }

  /* page header */
  .page-header {
    padding: 7em 0 2em 2em;
  }

  /* Page：About profile*/
  .profile {
    .about-img {
      text-align: center;
      padding-right: 0;
      padding-bottom: 1em;
    }
    .about-area {
      display: block;
      .btn {
        width: 28em;
      }
      .btn-text {
        font-size: 16px;
      }
    }
    .btn-area {
      text-align: center;
    }
  }
  /* page-about carrer*/
  .carrers {
    .timeline {
      padding: 0 2em 2em 2em;
    }
  }

  /* page-about vision*/
  .vision {
    .vision-area {
      padding: 2em 2em 4em 2em;
      flex-direction: column-reverse;
      .vision-img {
        text-align: center;
      }
    }
  }

  .contact {
    .page-sec-title {
      padding: 2em;
    }
  }

  /* page Service */
  .page-service {
    .page-sec-title {
      padding: 0;
      .title {
        font-size: 32px;
      }
    }

    .title {
      font-size: 32px;
    }
    .title-area {
      padding: 0;
    }
    .title {
      color: v.$point-color;
      font-size: 24px;
    }
    .service-sub-title {
      color: rgba(51, 51, 51, 0.34);
    }
    // グリッド
    .service-area {
      display: grid;
      grid-template-columns: repeat(1, 1fr); 
      gap: 10px; 
    }
    .page-service-card {
      padding: 2em 0;
      img {
        width: 70%;
      }
    }
  }
  /* page Service flow*/
  /* page Flow */
  .flow {
    display: block;
    justify-content: center;
  .item {
    margin: 1em auto;
    width: 70%;
    background-color: #F8F9FD;
    .item-title {
      text-align: center;
    }
    h2 {
      padding-bottom: 0.7em;
      color: v.$point-color;
    }
    img {
      padding-bottom: 1em;
    }
  }
}
.sign {
  display: none;
}

  /* page contact-form*/
  .contact-form-area {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 4em 0 2em 0;
    
    .contact-img {
      padding: 0 0 1em 0;
      text-align: center;
    }
    img {
      width: 16em;
    }
  }
  .contact-form {
    padding: 0 1em;
    width: 100%;
    p {
      padding-bottom: 1em;
    }
    /* ボタン */
    .btn_contact7 {
      text-align: left;
      // width: 80%;
      padding: 0 0.5em;
    }
  }


  /* archive Works */
  // グリッド
  .works {
    .card-list-area {
      max-width: 750px;
      grid-template-columns: repeat(1, auto ); 
    }
  }

  /* single work */
  .single {
    .post-thumbnail-image {
      border-radius: 3em;
      height: 20em;
    }
    .post-title {
      padding: 2em 0 0 1em;
    }
    .post-text {
      padding: 1em;
      }
  }

}

/*-------------------------------------------
モバイル
-------------------------------------------*/
@include m.mq(mobile) {
  #header {
    font-size: 12px;
    position: fixed;
    .header-nav {
      padding-right: 0;    
      justify-content: start;
    }
  }

  .hamburger-btn {
    top: 18px;
    right: 24px;
  }

  .top {
    padding: 8em 1em 2em 1em;
  }
  .top-area {
    padding: 0;
    .top-title {
      font-size: 32px;
      padding: 1em 0;
    }
  }

  /* front-page Works */
  #second-area {
   padding: 4em;
  }
  .swiper {
    max-width: 24em;
    img {
      width: 80%;
    }
  }

  /* フロント service */
  .service-card {
    display: block;
    margin: 2em;

    .service-img {
      img {
        width: 80%;
      }
    }
  }
  .service-text-area {
    padding: 1em;
    .service-text {
      font-size: 16px;
    }
  }

  /* フロント about */
  .front-about {
    .about-img {
      img{
        width: 100%;
      }
    }
    .about-text {
      padding: 2em 1em 0 1em;
    }
  }


  /* page header */
  .page-header {
    padding: 6em 0 2em 2em;
  }

  /* Page-About profile*/
  .profile {
    .about-area {
      display: block;
      padding: 1em 1em 2em 1em;
      img {
        width: 100%;
      }
    }
    .about-img {
      img {
        width: 16em;
      }
    }
    .btn-area {
      .btn {
        width: 100%;
      }
    }
    .btn-text {
      font-size: 12px;
    }
  }


  /* Page-About carrers*/
  .carrers {
    .page-sec-title {
      padding: 2em 1em;
    }
    .timeline {
      padding: 0 1em 1em 1em;
    }
  }

  /* page-about vision*/
  .vision {
    .vision-area {
      padding: 1em 1em 4em 1em;
    }
    img {
      width: 16em;
    }
  }


  /* page service */
  .page-sec-title {
    padding: 2em 2em 2em 1em;
  }

  .page-service { 
    .title {
      font-size: 20px;
    }
  }
  /* archive Works */
  .archive {
    padding: 2em 0;
  }
  // グリッド
  .works {
    .card-contents {
      padding: 0;
    }
    .card {
      padding: 1em 0 0 0;
    }
    .card-list-area {
      max-width: 750px;
      grid-template-columns: repeat(1, auto); 
    }
    img {
      width: 80%;
      height: 80%;
    }
  }

  /* page contact-form*/
  .contact-form-area {
    img {
      width: 14em;
    }
  }
  .contact-form {
    padding: 0 0.5em;
    width: 80%;
  }

  /* single work */
  .single {
    padding: 1em;
    .post-thumbnail-image {
      border: 1em solid v.$main-color;
      border-radius: 2em;
      height: 10em;
    }
    .post-title {
      padding: 1em 0 0 0;
      font-size: 24px;
    }
    .post-text {
      padding: 0em;
    }
    .pagination {
      padding: 0;
    }
    .wp-block-image img {
      padding: 1em;
    }
  }

  .contact {
    .page-sec-title {
      padding: 2em 0 1em 0;
    }
    .text {
      padding: 1em 1em 0 1em;
      font-size: 14px;
    }
  }



}




/*-------------------------------------------
スモールモバイル
-------------------------------------------*/
@include m.mq(smobile) {

  /* front-page About */
  .front-about {
    .about-img img {
      width: 12em;
    }
  }

  /* front-page Works */
  #second-area {
    padding: 4em;
   }
  .swiper {
    max-width: 100%;
    img {
      width: 100%;
    }
    ul {
      padding: 0;
    }
  }

  /* Page：About profile*/
  .profile {
    .about-area {
      padding: 0 0.5em;
      .btn {
        width: 17em;
      }
      .btn-text {
        font-size: 14px;
      }
    }
    .about-img img {
      width: 12em;
    }
  }

  /* Page：About vision */
  .vision img {
    width: 12em;
  }




  /* page contact-form*/
  .contact-form-area {
    img {
      width: 12em;
    }
  }

  
}